<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Callback</title>
  <script src="/static/js/auth.js"></script>
</head>
<body>
  <script>
    window.addEventListener("DOMContentLoaded", handleOAuthCallback("{{.CallbackURL}}"));
  </script>
</body>