<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{block "title" .}}AoC 2024 Solver{{end}}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="/static/js/navigation.js" defer></script>
  <script src="/static/js/auth.js"></script>
  <script src="/static/js/helpers.js"></script>
  <script src="/static/js/callSolver.js"></script>
  {{block "head" .}}{{end}}
</head>
<body>
  <header>
    <h1>AoC 2024</h1>
    <p>Server {{.Hostname}} is up and running</p>
    <nav>
      <a href="/">Home</a>
      <a href="/swagger">API Definition</a>
    </nav>
  </header>

  <main>
    {{block "authentication" .}}{{end}}
    {{block "solverSelection" .}}{{end}}
    {{block "solverUpload" .}}{{end}}
    {{block "solverResult" .}}{{end}}
  </main>

  <footer>
    <p>&copy; AoC Solver 2024</p>
  </footer>
</body>
</html>

{{ define "authentication"}}
{{- if .Config.OAuth -}}
<section class="auth active">
  <div id="auth-enabled" data-enabled="true" hidden></div>
  <p>
    <strong>Authentication status</strong>: <span id="auth-status">Not Authenticated</span>
    <div id="login-buttons-div">
    </div>
  </p>
  <div id="logout-buttons-div" hidden>
    <button id="logoutBtn">Logout</button>
  </div>
  <script>
    // create OAuth authentication buttons
    const loginButtons = new Map();
    const loginButtonsDiv = document.getElementById("login-buttons-div");
    {{- range .Config.OAuthProviders }}
    loginButtons["{{.Name}}"] = document.createElement("button");
    loginButtons["{{.Name}}"].textContent = "Authenticate via {{.Name}}"
    loginButtons["{{.Name}}"].id = "login-button-{{.Name}}";
    loginButtons["{{.Name}}"].class = "login-button";
    loginButtons["{{.Name}}"].addEventListener("click", () => startOAuth("{{.UserAuth}}"));

    loginButtonsDiv.appendChild(loginButtons["{{.Name}}"]);
    {{- end }}
  </script>
</section>
{{- else -}}
<div id="auth-enabled" data-enabled="false" hidden></div>
{{- end -}}
{{end}}

{{ define "solverSelection"}}
  {{- if .Config.OAuth -}}
<section class="selection disabled">
  {{- else -}}
<section class="selection active">
  {{- end -}}
  <h2>Table of Solvers</h2>
  <div id="solver-selection" hidden>
    <p>
      <strong>Current solver selection:</strong> day: <span id="solver-day">None</span> part: <span id="solver-part">None</span>
    </p>
  </div>
  <div id="table-container">
    <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Parts 1</th>
          <th>Parts 2</th>
        </tr>
        </thead>
        <tbody>
            {{- range $item := .RegistryItems }}
            <tr>
                <td>{{$item.Name}}</td>
                <td><a href="#" data-day="{{$item.Name}}" data-part="1">Part 1</a></td>
                <td><a href="#" data-day="{{$item.Name}}" data-part="2">Part 2</a></td>
            </tr>
            {{- end }}
        </tbody>
    </table>
  </div>
</section>
{{end}}

{{define "solverUpload"}}
<section class="submission disabled">

  <div id="solver-content">

  <h2>Select a file</h2>

  <label for="fileInput">Choose a file:</label>
  <input type="file" id="fileInput" class="auth-required"><br><br>
  <button id="fileInputClear" class="auth-required" onclick="clearFileSelection('fileInput')">Clear file selection</button><br><br>

  <label for="textInput">Or paste text:</label>
  <textarea id="textInput" rows="4" cols="50" class="auth-required"></textarea><br><br>

  <button id="submitBtn" class="auth-required">Send to API</button>
  </div>
</section>
{{end}}

{{define "solverResult"}}
<section class="result disabled">
  <pre id="result" style="margin-top:20px; background:#f4f4f4; padding:10px;"></pre>
  <button id="seenBtn" hidden>Ok</button>
</section>
{{end}}