{{ define "title "}}Home{{end}}
{{ define "content"}}
    <h2>Table of Solvers<h2>
    <div id="table-container">
    </div>
    <script type=module>
        // import { createTable } from '/static/js/helpers.js';
        // const container = document.getElementById("table-container");
        // container.appendChild(createTable({{.Solvers}}}
    <script>
{{end}}