<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.Title}}</title>
  <script src="/static/js/callSolver.js"></script>
  <script src="/static/js/auth.js"></script>
</head>
<body>
{{if .Auth}}
  <h2>Authentication</h2>

  <p>Status: <span id="auth-status">Not Authenticated</span></p>
  <button id="authBtn">Authenticate via GitHub</button>
{{end}}

  <h2>Select a file</h2>

  <label for="fileInput">Choose a file:</label>
  <input type="file" id="fileInput" class="auth-required"><br><br>

  <label for="textInput">Or paste text:</label>
  <textarea id="textInput" rows="4" cols="50" class="auth-required"></textarea><br><br>

  <button id="submitBtn" class="auth-required">Send to API</button>

  <pre id="result" style="margin-top:20px; background:#f4f4f4; padding:10px;"></pre>

  <script>
{{if .Auth}}
    updateUI();
    document.getElementById("authBtn").addEventListener("click", () => startOAuth("{{.Provider.ClientId}}", "{{.Provider.CallbackURL}}"));
{{end}}
    document.getElementById("submitBtn").addEventListener("click", () => handleClick());
    
    async function handleClick() {
      const input = document.getElementById('fileInput');
      const file = input.files[0];

      const textInput = document.getElementById('textInput');
      const text = textInput.value;

      const resultEl = document.getElementById('result');

      const endpoint = "{{.Endpoint}}";

      if (!file && text.trim() === "" ) {
        resultEl.textContent = 'Please select a file of input text first.';
        return;
      }
      
      try {
        let base64;
        if (file) {
          base64 = await toBase64(file);
        } else {
          base64 = btoa(unescape(encodeURIComponent(text)));
        }
        
        const response = await sendToApi(endpoint, { input: base64 })
        resultEl.textContent = JSON.stringify(response, null, 2)
      } catch(error) {
        resultEl.textContent = 'Error: ' + error.message;
      }
    }
  </script>
</body>
</html>