<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.Title}}</title>
  <script src="/static/js/callSolver.js"></script>
</head>
<body>
  <h2>Select a file</h2>

  <label for="fileInput">Choose a file:</label>
  <input type="file" id="fileInput"><br><br>

  <button onclick="handleClick()">Send to API</button>

  <pre id="result" style="margin-top:20px; background:#f4f4f4; padding:10px;"></pre>

  <script>
    async function handleClick() {
      const input = document.getElementById('fileInput');
      const file = input.files[0];

      const resultEl = document.getElementById('result');

      const endpoint = "{{.Endpoint}}";

      if (!file) {
        resultEl.textContent = 'Please select a file first.';
        return;
      } 
      
      try {
        const base64 = await toBase64(file);
        const response = await sendToApi(endpoint, { input: base64 })
        resultEl.textContent = JSON.stringify(response, null, 2)
      } catch(error) {
        resultEl.textContent = 'Error: ' + error.message;
      }
    }
  </script>
</body>
</html>