---
layout: default
head_include_raw: |
  <script src="/aoc2024/static/js/navigation.js" defer></script>
  <script src="/aoc2024/static/js/auth.js"></script>
  <script src="/aoc2024/static/js/helpers.js"></script>
  <script src="/aoc2024/static/js/api.js"></script>
---

<section class="auth disabled" hidden>
  <div id="auth-enabled" data-enabled="false" hidden></div>
  <div class="auth-status-logout">
    <div>
      <strong>Authentication status</strong>: <span id="auth-status">Not Authenticated</span>
      <span id="auth-timer" hidden></span>
    </div>
    <div id="logout-buttons-div" hidden>
      <button id="logoutBtn">Logout</button>
    </div>
  </div> 
  <div id="login-buttons-div">
  </div>
  <script>
    // create OAuth authentication buttons
    const loginButtons = new Map();
    const loginButtonsDiv = document.getElementById("login-buttons-div");

    {% for oauthProvider in site.OAuthProviders %}
    loginButtons["{{ oauthProvider.Name }}"] = document.createElement("button");
    loginButtons["{{ oauthProvider.Name }}"].textContent = "Authenticate via {{ oauthProvider.Name }}"
    loginButtons["{{ oauthProvider.Name }}"].id = "login-button-{{ oauthProvider.Name }}";
    loginButtons["{{ oauthProvider.Name }}"].class = "login-button";
      {% if oauthProvider.Name == "github" %}
    const client_id = "{{ oauthProvider.ClientId }}";
    const redirect_uri = window.location.origin + "{{ site.BaseUrl }}/callback/" + "{{ oauthProvider.Name }}";
    const scope = "{{ oauthprovider.Scope }}";
    const AuthURL = `{{oauthProvider.BaseAuthURL}}?client_id=${client_id}&redirect_uri=${redirect_uri}&scope=${scope}`;
      {% else %}
    const AuthURL = "";
      {% endif %}
    loginButtons["{{ oauthProvider.Name }}"].addEventListener("click", () => startOAuth(encodeURI(AuthURL)));
    loginButtonsDiv.appendChild(loginButtons["{{ oauthProvider.Name }}"]);
    {% endfor %}

  </script>
</section>

<section class="selection disabled">
  <div id="table-header">
    <h2>Table of Solvers</h2>
    <div id="solver-selection" hidden>
        <strong>Current solver selection: </strong><span id="solver-day">None</span> part <span id="solver-part">None</span>
    </div>
  </div>
  <div id="table-container">
  </div>
</section>

<section class="submission disabled">
  <div id="submit-header">
    <label for="fileInput" class="file-btn">Choose a file</label>
    <span id="fileName" data-default="No file selected">No file selected</span>
    <input type="file" id="fileInput" hidden>
    <button id="inputClear">Clear selection</button>
  </div>
  <div>
    <label for="textInput">Or paste text </label>
    <textarea id="textInput" rows="4" cols="50" style="resize: none;"></textarea>
  </div>
  <div id="submit-btn-div">
    <button id="submitBtn">Send to API</button>
  </div>
</section>

<section class="result disabled">
  <pre id="result"></pre>
  <button id="seenBtn" hidden>Ok</button>
  <button id="resubmitBtn" hidden>Ok</button>
</section>