<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if page.title %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>AoC 2024 Solver</title>
  {% endif %}
  <link rel="stylesheet" href="{{ site.BaseUrl }}/static/css/styles.css">
  <link rel="icon" href="{{ site.BaseUrl }}/static/images/favicon.png">
  {% if page.head_include %}
    {% include {{ page.head_include }} %}
  {% elsif page.head_include_raw %}
    {{ page.head_include_raw }}
  {% else %}
  {% endif %}
</head>
<body>
  {% include header.html %}
  <main>
  <script>
      window.AppConfig = Object.freeze({
          baseApiUrl: "{{ site.BackendBaseUrl }}"
          })
  </script>
  <section class="backend">
      <strong>Backend</strong>: <span id="backend" class="backend-not-available">{{ site.BackendBaseUrl }}</span>
  </section>
    {{ content }}
  </main>
</body>
</html>