name: Redeploy latest image to ACI

on:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/master' || github.ref == 'refs/heads/stage' 

    permissions:
      id-token: write
      contents: read

    outputs:
      deployed: ${{ steps.get-deployment.outputs.deployed }}
      lb_dns: ${{ steps.get-lb.outputs.lb_dns }}

    steps:
      - name: Azure Login via OIDC
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Fetch ACI config
        run: |
          if [ "${GITHUB_REF}" = "refs/heads/dev" ]; then
            ACI_ID_KEY="/cd/dev/aci_id"
          fi
          if [ "${GITHUB_REF}" = "refs/heads/master" ]; then
            ACI_ID_KEY="/cd/prod/aci_id"
          fi
          if [ "${GITHUB_REF}" = "refs/heads/stage" ]; then
            ACI_ID_KEY="/cd/stage/aci_id"
          fi

          if ! az appconfig kv show \
            --name "aoc-config-store" \
            --key $ACI_ID_KEY > aci_id.json 2>/dev/null; then
            echo "Unable to get container id"
            echo "deployed=false" >> $GITHUB_OUTPUT
            exit 0
          fi

          ACI_ID=$(jq -r '.value' aci_id.json)

          if ! az container show --ids $ACI_ID > aci.json 2>/dev/null; then
            echo "Unable to get container info"
            echo "deployed=false" >> $GITHUB_OUTPUT
            exit 0
          fi

          ACI_NAME=$(jq -r '.name' aci.json)
          ACI_RG=$(jq -r '.resourceGroup' aci.json)
          ACI_FQDN=$(jq -r '.ipAddress.fqdn' aci.json)
            
          echo "ACI_NAME=$ACI_NAME" >> $GITHUB_ENV
          echo "ACI_RG=$ACI_RG" >> $GITHUB_ENV
          echo "ACI_FQDN=$ACI_FQDN" >> $GITHUB_ENV

          echo "deployed=true" >> $GITHUB_OUTPUT
          echo "aci_fqdn=$ACI_FQDN" >> $GITHUB_OUTPUT